.fullscreen-feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 1.2s ease-out forwards;
  pointer-events: none;
}

.correct-feedback {
  background-color: rgba(76, 175, 80, 1);
}

.incorrect-feedback {
  background-color: rgba(244, 67, 54, 1);
}

.feedback-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.27);
}

.feedback-icon {
  animation: popIn 0.3s ease-out;
}

.feedback-message {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  animation: slideUp 0.3s ease-out;
  margin-top: 30px;
}

/* Анимации */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes popIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
