.slider-container {
  position: relative;
  width: 100%;
  padding: 40px 0;
}

.slider-container h3 {
  background: #333; 
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #444;
}


