:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
