:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.App {
  padding: 0 15px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
