.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;

  transition-timing-function: linear !important;
}

.embla__slide {
  flex: 0 0 33.33%;
  min-width: 0;
  padding-left: 15px;
}

.slider__item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

@media (max-width: 1024px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 100%;
  }
}
